* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

header {
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 999; 
}

.logo {
    margin-right: 100px;
}
#menu,
.sub-menu {
    display: none;
    list-style: none;
}
.tb-menu-toggle {
    border: 0;
    position: relative;
    background: #3e92b0!important;
    cursor: pointer;
    height: 120px!important;
    width: 120px!important;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tb-menu-toggle.tb-active-toggle.tb-animate-toggle {
    background: #765b49!important;
}
.tb-menu-toggle i {
    width: 48px;
    height: 3px;
    color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin: 5px 0;
}
.tb-menu-toggle.tb-active-toggle i {  }
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
    position: absolute;
    top: 40%;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
    position: absolute;
    top: 40%;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
ul#menu {
    position: absolute;
    top: 120px;
    background: url('../images/bg-menu.png') no-repeat;
    width: 600px;
    height: 580px;
    margin-left: -59px;
    padding: 40px 50px;
}
ul#menu li {
    margin-bottom: 15px;
}
ul#menu a {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}
ul#menu a:hover {
    font-weight: 900;
}

.vitrine img {
    height: 700px;
    object-fit: cover;
}
.vitrine .conteudo {
    position: absolute;
    z-index: 999;
    top: 120px;
    height: 580px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vitrine h1 {
    font-size: 28px;
    color: #644025;
    text-transform: uppercase;
    letter-spacing: 30px;
    text-shadow: 1px 1px 2px #644025;
    margin: 0;
}

.sobre {
    padding: 80px 0;
}
.sobre h1 {
    margin: 0 0 40px 0;
}
.sobre .itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sobre .item {
    width: 48%;
    margin-bottom: 40px;
}
.sobre p {
    font-size: 16px;
    color: #614224;
    margin: 0;
}

.equipe h1 {
    margin: 0;
}
.equipe img {
    margin: 0 auto 30px;
}
.accordion__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accordion__item {
    border-bottom: 1px solid #000;
    visibility: hidden;
}
.accordion__item:last-child {
    border-bottom: 0;
}
.accordion__item.is-active .accordion__itemTitleWrap::after {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}
.accordion__item.is-active .accordion__itemIconWrap {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion__itemTitleWrap {
    font-size: 22px;
    font-weight: bold;
    color: #624125;
    text-transform: uppercase;
    display: flex;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 10px;
}
.accordion__itemIconWrap {
    width: 1.25em;
    height: 1.25em;
    margin-left: auto;
    position: relative;
    z-index: 10;
}
.accordion__itemTitle {
    margin: 0;
    font-family: 'industry', sans-serif;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    z-index: 10;
}
.accordion__itemContent {
    font-size: 0.875em;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    padding: 0 1.25em;
}
.accordion__itemContent p {
    font-size: 16px;
    color: #01688e;
    margin: 2em 0;
}

.album {
    display: none;
}

.no_margin {
    margin: 0 !important;
}
.no_padding {
    padding: 0 !important;
}

.projetos h1 {
    margin: 0 0 50px;
}
#galerias {
    padding:150px 0;
}
#galerias .g {
    background-size:cover;
    background-position:0 0;
    text-align:center;
    position:relative;
    vertical-align:middle;
    margin-bottom: 10px;
}
#galerias .g:hover:before,
#galerias .g:hover .content {
    display:block;
}
#galerias .g:before {
    content:"";
    display:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
}
#galerias .g .content {
    position:absolute;
    z-index:3;
    background-color:transparent;
    display:none;
    width:100%;
    left:0;
    right:0;
    top:50%;
    padding:0 20px;
}
#galerias .g .content h1 {
    color:#cdcdcd;
    font-weight:300;
    font-size:32px;
    margin:0 0 30px;
    display:block;
    width:100%;
    line-height:1;
} 
#galerias .g .content a {
    display:inline-block;
    line-height:1;
    font-size:16px;
    border:2px solid #fff;
    padding:15px 20px;
    color:#fff;
}
#galerias .g .content a:hover {
    text-decoration:none;
    background-color:#fff;
    color:#7c303f;
}
#galerias .g .content {
    display: none;
    background-color: rgba(124, 48, 63, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#galerias .g.g_um {
    height: 310px;
}
#galerias .g.g_dois {
    height: 630px;
}
#galerias .g.g_tres {
    height:350px;
}
#galerias .g.g_quatro {
    height:700px;
}
#galerias .g.g_cinco {
    height:350px;
}
#galerias .g.g_seis {
    height:350px;
}
#galerias .titulo span {
    background-color:#fff;
}
#galerias .titulo:before {
    background-color:#ccc;
}
@media (max-width:969px) {
    #galerias {
        padding:50px 0;
    }
    #galerias .g.g_quatro {
        height:350px;
    }
    #galerias .g:before,
    #galerias .g .content {
        display:block;
    }
}









/* --- MOBILE --- */
@media (max-width: 767px) {
   .navbar-default .conteudo {
        padding: 0 15px;
        height: 34px;
        margin-top: 5px;
    }
    ul.nav,
    .navbar-default,
    .navbar-header .navbar-brand,
    #bs-example-navbar-collapse-1 {
        height: 34px;
    }
    .navbar-brand>img {
        width: 120px;
    }
    .navbar-default .navbar-toggle {
        padding: 6px;
        margin-top: 3px;
        margin-bottom: 0;
        margin-right: 0;
        border-color: #7b91c1;
        background: #7b91c1;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #fff;
        z-index: 300;
        position: relative;
        min-height: 320px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -8px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    
}